h1{
    font-family: Arial;
    font-size: 60px;
    background-color: rgb(7, 121, 167);
    color: red;
}
back{
    background-color: purple;
}
footer{
    color: Black;
    background-color: rgb(209, 140, 226);
}